<div class="main-container">
	<header class="header-6">
		<div class="branding">
			<a style="display:flex; align-items:center">
				<i class="fas fa-heart fa-2x" style="margin-right:10px"></i><span class="title>Heart</span>
			</a>
		</div>
		<div class="header-nav">
			<a href="javascript://" class="active nav-link nav-text">Home</a>
		</div>
		<div class="header-actions">
			<a href="javascript://" class="nav-link nav-icon">
			</a>
		</div>
	</header>
	<div class="content-container">
		<div class="content-area">
		</div>
	</div>
</div>